In [192]:
import matplotlib as plt
import pandas as pd
import os
import numpy as np
os.chdir('D:')

In [193]:
data=pd.read_csv('C:/Users/arkap/Desktop/project/movie_success_rate.csv',index_col=0,low_memory=False)
data.head()

,Title,Genre,Description,Director,Actors,Year,Runtime (Minutes),Rating,Votes,Revenue (Millions),Metascore
Rank,,,,,,,,,,,
1,Guardians of the Galaxy,"Action,Adventure,Sci-Fi",A group of intergalactic criminals are forced ...,James Gunn,"Chris Pratt, Vin Diesel, Bradley Cooper, Zoe S...",2014,121,8.1,757074,333.13,76.0
2,Prometheus,"Adventure,Mystery,Sci-Fi","Following clues to the origin of mankind, a te...",Ridley Scott,"Noomi Rapace, Logan Marshall-Green, Michael Fa...",2012,124,7.0,485820,126.46,65.0
3,Split,"Horror,Thriller",Three girls are kidnapped by a man with a diag...,M. Night Shyamalan,"James McAvoy, Anya Taylor-Joy, Haley Lu Richar...",2016,117,7.3,157606,138.12,62.0
4,Sing,"Animation,Comedy,Family","In a city of humanoid animals, a hustling thea...",Christophe Lourdelet,"Matthew McConaughey,Reese Witherspoon, Seth Ma...",2016,108,7.2,60545,270.32,59.0
5,Suicide Squad,"Action,Adventure,Fantasy",A secret government agency recruits some of th...,David Ayer,"Will Smith, Jared Leto, Margot Robbie, Viola D...",2016,123,6.2,393727,325.02,40.0

In [194]:
data.isnull().sum()

Title                   0
Genre                   0
Description             0
Director                0
Actors                  0
Year                    0
Runtime (Minutes)       0
Rating                  0
Votes                   0
Revenue (Millions)    128
Metascore              64
dtype: int64

In [195]:
data.fillna(method='ffill',inplace=True)
data.isnull().sum()

Title                 0
Genre                 0
Description           0
Director              0
Actors                0
Year                  0
Runtime (Minutes)     0
Rating                0
Votes                 0
Revenue (Millions)    0
Metascore             0
dtype: int64

In [196]:
data.drop('Description',axis=1,inplace=True)
data.dtypes

Title                  object
Genre                  object
Director               object
Actors                 object
Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object

In [197]:
data.drop('Title',axis=1,inplace=True)
data.drop('Genre',axis=1,inplace=True)

In [198]:
data["Director"].value_counts()

Ridley Scott          8
Michael Bay           6
Paul W.S. Anderson    6
David Yates           6
M. Night Shyamalan    6
                     ..
Hope Dickson Leach    1
Olivier Assayas       1
Aisling Walsh         1
Dexter Fletcher       1
Joseph Cedar          1
Name: Director, Length: 644, dtype: int64

In [199]:
data.shape
data["Actors"].value_counts()

Shia LaBeouf, Megan Fox, Josh Duhamel, Tyrese Gibson                   2
Gerard Butler, Aaron Eckhart, Morgan Freeman,Angela Bassett            2
Daniel Radcliffe, Emma Watson, Rupert Grint, Michael Gambon            2
Jennifer Lawrence, Josh Hutcherson, Liam Hemsworth, Woody Harrelson    2
Ben Affleck, Anna Kendrick, J.K. Simmons, Jon Bernthal                 1
                                                                      ..
Chris Pine, Zachary Quinto, Simon Pegg, Leonard Nimoy                  1
Benedict Cumberbatch, Keira Knightley, Matthew Goode, Allen Leech      1
Willem Dafoe, Charlotte Gainsbourg, Storm Acheche Sahlstr√∏m            1
John Gallagher Jr., Tony Goldwyn, Adria Arjona, John C. McGinley       1
Jake Gyllenhaal, Naomi Watts, Chris Cooper,Judah Lewis                 1
Name: Actors, Length: 996, dtype: int64

In [200]:
data.drop(["Director"],axis=1,inplace=True)
data.drop(["Actors"],axis=1,inplace=True)

In [201]:
data.dtypes

Year                    int64
Runtime (Minutes)       int64
Rating                float64
Votes                   int64
Revenue (Millions)    float64
Metascore             float64
dtype: object

In [202]:
data["Metascore"].value_counts()

72.0     27
66.0     27
64.0     26
57.0     26
68.0     25
         ..
100.0     1
19.0      1
11.0      1
91.0      1
16.0      1
Name: Metascore, Length: 84, dtype: int64

In [203]:
X=data.iloc[:,0:-2]
Y=data.iloc[:,-1]
from sklearn.model_selection import train_test_split
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, random_state=1)

In [204]:
from sklearn.ensemble import RandomForestClassifier
forest=RandomForestClassifier(n_estimators=100)
forest.fit(X_train,Y_train)

YF_pred=forest.predict(X_test)

In [205]:
from sklearn import metrics

In [206]:
print("Accuracy:",metrics.accuracy_score(Y_test, YF_pred)*100,"%")

Accuracy: 2.4 %

In [207]:
import numpy as np
from flask import Flask, request, jsonify, render_template
import pickle

In [208]:
pickle.dump(forest, open('model.pkl','wb'))

model = pickle.load(open('model.pkl','rb'))

In [210]:
print(model.predict([[2012,109,7.7,192190]]))

[68.]